/* Chat containers */
body {
    margin: 0 auto;
    padding: 0 20px;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.darker {
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    font:bold;
    color:snow
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
 }

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

#input-Chat {
    position: -webkit-sticky;
    position: sticky;
    bottom:10px;
    background-color: rgb(120, 130, 224);
    padding: 10px;
    border-radius: 5px;
}
.input1 {
    width: 80%;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}
.input2 {
    width: 18%;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:coral;
}
.messageArea{
    border: 3px solid rgb(211, 163, 163);
    padding: 12px 20px;
    background-color: rgb(204, 232, 233);
    max-width: 30%;
    bottom: 0px;
    max-height: 500px;
    overflow:auto;
    float: left;
    margin-right: 10px;
}
#friend{
    align-items: center;
}
#top{
    height: 150px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}
/* Icon bạn bè */
.icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
    box-sizing: content-box;
  }
  .icon img {
    width: 30px;
    max-width: 30px;

  }
  .icon button {
    margin: 10px;
    max-height: 80px;
  }
